@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');

.build{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;    
    background-image: url(buildbackground.png);
    background-size: cover;
}

header{ /*change color*/
    background-image: linear-gradient(rgb(40, 161, 54), rgb(117, 246, 132));
    text-align: center;
    color: white;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.plant-selection{
    display: flex;
    flex: 1;
    border-radius: 15%;
    border: thick solid rgb(29, 93, 29);
}

.left-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.left{
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 30px solid green;
}

.right-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.right{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid green;
}

.build-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30vw;
}

.plant-parts{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#plant-parts-header{
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgba(117, 67, 67, 0.658);
    width: 25vw;
    text-align: center;
}

label{
    margin: 10px;
}

input{
    border-radius: 10px;
    padding: 10px;
}

input::placeholder{
    text-align: center;
}

footer{
    position: relative;
    height: 10vh;
}

#plantbutton{
    position: absolute;  /*how do I center plant within this button?*/
    left: 15vmax;
    border-radius: 50%;
    background-color: rgb(106, 56, 56);
    border: thin solid white;
    top: 50vh;
    height: 15vh;
    width: 15vh;
    font-size: xx-large;
}

nav{
    float: right;
    margin-right: 20px;
}

@media (max-height: 600px){
    header{
        display: none;
    }
}