

input{
    margin-right: 20%;
}

main{
    flex: 1;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.plants{
    flex: 1;
}

.addplant{
    position: absolute;
    width: 20px;
    height: 20px;
}

#bench{
    top: 69%;
    left: 26%;
}

#middle{
    top: 85%;
    left: 45%;
}

#right{
    top: 90%;
    left: 65%;
}