body{
    display: flex;
    flex-direction: column;
    background-image: url(homebackground.jpg);
    background-position: -35px;
    height: 100vh
}

header{ /*change color*/
    background-image: linear-gradient(rgb(40, 161, 54), rgb(117, 246, 132));
    text-align: center;
    color: white;
}

main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in{
    background-color: #60af32;
    border-radius: 20px;
    border: thick solid #396320;
    min-width: 25vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateY(-30px);
}

.username{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#sign-in{
    flex: 1;
    margin: 10px;
    line-height: 100%; /*why is the Sign in not centered?*/
}

#sign-in-button{
    color: #396320;
}

label{
    margin: 10px;
}

input {
    border-radius: 10px;
    padding: 10px;
}

input::placeholder{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#temporary{
    color: red;
    margin-top: -5em;
    font-size: large;
}