
main{
    flex: 1;
    flex-direction: row;
    display: flex;
    height: 100%;
    width: 100%;
}

#player-messages{
    background-color: blue;
    flex: 1;
}

.plants{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 240px;
    grid-gap:1em;
    flex: 6;
    margin: 10px;
}

.plant{
    width: 150px;
    height: 200px;
}

.addplant{
    width: 100px;
    height: 100px;
}

.remove{
    border-radius: 10%;
    background-color: orange;
    margin: 10px;
}
