 
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(homebackground.jpg);
    background-position: -30px -13px;
}

.quote-box {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: thick solid #396320;
    
}
  
.quote {
    font-style: italic;
}
  
  
#loginControls{
    background-color: #60af32;
    border-radius: 20px;
    border: thick solid #396320;
    min-width: 25vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateY(-30px);
}

.username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#sign-in{
    flex: 1;
    margin: 10px;
    line-height: 100%;
}

label{
    margin: 10px;
}

input {
    border-radius: 10px;
    padding: 10px;
}

input::placeholder{
    text-align: center;
}

#temporary{
    color: red;
    margin-top: -5em;
    font-size: large;
}

#playerName {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 0.5em;
}

#enterControls{
    background-color: #60af32;
    border-radius: 20px;
    border: thick solid #396320;
    min-width: 25vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateY(-30px);
}

.enterbutton{
    flex: 1;
    margin: 10px;
}
